.homeContainer {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background);
  padding-top: var(--header-height);
  padding-bottom: calc(var(--menu-height) + var(--safe-area-bottom) + 2.4rem);
  font-family: var(--font-primary);
  user-select: none;
  -webkit-user-select: none;
}

.mainContent {
  width: 100%;
  padding-top: var(--content-gap-top);
  padding-bottom: var(--content-gap-bottom);
}
